<div class="main-content">

      
  <nav class="navbar navbar-expand-md navbar-light d-none d-md-flex" id="topbar">
    <div class="container-fluid">

   

      <!-- User -->
      <div class="navbar-user">

        <!-- Dropdown -->
        <div class="dropdown mr-4 d-none d-md-flex">
  
          <!-- Toggle -->
          <a href="#" class="navbar-user-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon active">
              <i class="fe fe-bell"></i>
            </span>
          </a>

          <!-- Menu -->
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
          
                  <!-- Title -->
                  <h5 class="card-header-title">
                    Notifications
                  </h5>

                </div>
                <div class="col-auto">
          
                  <!-- Link -->
                  <a href="#!" class="small">
                    View all
                  </a>

                </div>
              </div> <!-- / .row -->
            </div> <!-- / .card-header -->
            <div class="card-body">

              <!-- List group -->
              <div class="list-group list-group-flush my-n3">
                <a class="list-group-item px-0" href="#!">
        
                  <div class="row">
                    <div class="col-auto">
              
                      <!-- Avatar -->
                      <div class="avatar avatar-sm">
                        <img src="./assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>

                    </div>
                    <div class="col ml-n2">
              
                      <!-- Content -->
                      <div class="small text-muted">
                        <strong class="text-body">Dianna Smiley</strong> shared your post with <strong class="text-body">Ab Hadley</strong>, <strong class="text-body">Adolfo Hess</strong>, and <strong class="text-body">3 others</strong>.
                      </div>

                    </div>
                    <div class="col-auto">

                      <small class="text-muted">
                        2m
                      </small>
              
                    </div>
                  </div> <!-- / .row -->

                </a>
                <a class="list-group-item px-0" href="#!">

                  <div class="row">
                    <div class="col-auto">
              
                      <!-- Avatar -->
                      <div class="avatar avatar-sm">
                        <img src="./assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>

                    </div>
                    <div class="col ml-n2">
              
                      <!-- Content -->
                      <div class="small text-muted">
                        <strong class="text-body">Ab Hadley</strong> reacted to your post with a 😍
                      </div>

                    </div>
                    <div class="col-auto">

                      <small class="text-muted">
                        2m
                      </small>
              
                    </div>
                  </div> <!-- / .row -->

                </a>
                <a class="list-group-item px-0" href="#!">

                  <div class="row">
                    <div class="col-auto">
              
                      <!-- Avatar -->
                      <div class="avatar avatar-sm">
                        <img src="./assets/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>

                    </div>
                    <div class="col ml-n2">
              
                      <!-- Content -->
                      <div class="small text-muted">
                        <strong class="text-body">Adolfo Hess</strong> commented <blockquote class="text-body">“I don’t think this really makes sense to do without approval from Johnathan since he’s the one...” </blockquote>
                      </div>

                    </div>
                    <div class="col-auto">

                      <small class="text-muted">
                        2m
                      </small>
              
                    </div>
                  </div> <!-- / .row -->

                </a>
                <a class="list-group-item px-0" href="#!">

                  <div class="row">
                    <div class="col-auto">
              
                      <!-- Avatar -->
                      <div class="avatar avatar-sm">
                        <img src="./assets/img/avatars/profiles/avatar-4.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>

                    </div>
                    <div class="col ml-n2">
              
                      <!-- Content -->
                      <div class="small text-muted">
                        <strong class="text-body">Daniela Dewitt</strong> subscribed to you.
                      </div>

                    </div>
                    <div class="col-auto">

                      <small class="text-muted">
                        2m
                      </small>
              
                    </div>
                  </div> <!-- / .row -->

                </a>
                <a class="list-group-item px-0" href="#!">

                  <div class="row">
                    <div class="col-auto">
              
                      <!-- Avatar -->
                      <div class="avatar avatar-sm">
                        <img src="./assets/img/avatars/profiles/avatar-5.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>

                    </div>
                    <div class="col ml-n2">
              
                      <!-- Content -->
                      <div class="small text-muted">
                        <strong class="text-body">Miyah Myles</strong> shared your post with <strong class="text-body">Ryu Duke</strong>, <strong class="text-body">Glen Rouse</strong>, and <strong class="text-body">3 others</strong>.
                      </div>

                    </div>
                    <div class="col-auto">

                      <small class="text-muted">
                        2m
                      </small>
              
                    </div>
                  </div> <!-- / .row -->

                </a>
                <a class="list-group-item px-0" href="#!">

                  <div class="row">
                    <div class="col-auto">
              
                      <!-- Avatar -->
                      <div class="avatar avatar-sm">
                        <img src="./assets/img/avatars/profiles/avatar-6.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>

                    </div>
                    <div class="col ml-n2">
              
                      <!-- Content -->
                      <div class="small text-muted">
                        <strong class="text-body">Ryu Duke</strong> reacted to your post with a 😍
                      </div>

                    </div>
                    <div class="col-auto">

                      <small class="text-muted">
                        2m
                      </small>
              
                    </div>
                  </div> <!-- / .row -->

                </a>
                <a class="list-group-item px-0" href="#!">

                  <div class="row">
                    <div class="col-auto">
              
                      <!-- Avatar -->
                      <div class="avatar avatar-sm">
                        <img src="./assets/img/avatars/profiles/avatar-7.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>

                    </div>
                    <div class="col ml-n2">
              
                      <!-- Content -->
                      <div class="small text-muted">
                        <strong class="text-body">Glen Rouse</strong> commented <blockquote class="text-body">“I don’t think this really makes sense to do without approval from Johnathan since he’s the one...” </blockquote>
                      </div>

                    </div>
                    <div class="col-auto">

                      <small class="text-muted">
                        2m
                      </small>
              
                    </div>
                  </div> <!-- / .row -->

                </a>
                <a class="list-group-item px-0" href="#!">

                  <div class="row">
                    <div class="col-auto">
              
                      <!-- Avatar -->
                      <div class="avatar avatar-sm">
                        <img src="./assets/img/avatars/profiles/avatar-8.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>

                    </div>
                    <div class="col ml-n2">
              
                      <!-- Content -->
                      <div class="small text-muted">
                        <strong class="text-body">Grace Gross</strong> subscribed to you.
                      </div>

                    </div>
                    <div class="col-auto">

                      <small class="text-muted">
                        2m
                      </small>
              
                    </div>
                  </div> <!-- / .row -->

                </a>
              </div>
      
            </div>
          </div> <!-- / .dropdown-menu -->

        </div>

        <!-- Dropdown -->
        <div class="dropdown">
  
          <!-- Toggle -->
          <a href="#" class="avatar avatar-sm avatar-online dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="./assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
          </a>

          <!-- Menu -->
          <div class="dropdown-menu dropdown-menu-right">
            <a href="profile-posts.html" class="dropdown-item">Profile</a>
            <a href="settings.html" class="dropdown-item">Settings</a>
            <hr class="dropdown-divider">
            <a href="sign-in.html" class="dropdown-item">Logout</a>
          </div>

        </div>

      </div>

    </div>
  </nav>


<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8">
      
      <!-- Header -->
      <div class="header mt-md-5">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col">
              
              <!-- Pretitle -->
              <h6 class="header-pretitle">
                Overview
              </h6>

              <!-- Title -->
              <h1 class="header-title">
                Create Profile
              </h1>

            </div>
          </div> <!-- / .row -->
          <div class="row align-items-center">
            <div class="col">
              
              <!-- Nav -->
              <ul class="nav nav-tabs nav-overflow header-tabs">
               
                <li class="nav-item">
                  <a href="#!" class="nav-link active">
                    Profile
                  </a>
                </li>
        
              </ul>

            </div>
          </div>
        </div>
      </div>

      <!-- Form -->
      <form class="mb-4" [formGroup]="createProfileForm" (ngSubmit)="onSubmit()">

        <div class="row">
          <div class="col-12 col-md-6">
            
            <!-- First name -->
            <div class="form-group">

              <!-- Label -->
              <label>
                First name
              </label>

              <!-- Input -->
              <input type="text" formControlName="firstname" class="form-control">

            </div>

          </div>
          <div class="col-12 col-md-6">
            
            <!-- Last name -->
            <div class="form-group">

              <!-- Label -->
              <label>
                Last name
              </label>

              <!-- Input -->
              <input type="text" formControlName="lastname" class="form-control">

            </div>

          </div>
          <div class="col-12 col-md-6">
            
            <!-- Middle name -->
            <div class="form-group">

              <!-- Label -->
              <label>
                Middle name
              </label>

              <!-- Input -->
              <input type="text" formControlName="middlename" class="form-control">

            </div>

          </div>
          <div class="col-12 col-md-6">
            
            <!-- Username -->
            <div class="form-group">

              <!-- Label -->
              <label>
                Username
              </label>

              <!-- Input -->
              <input type="text" formControlName="username" [value]="global.regDetails.username" class="form-control">

            </div>

          </div>
          <div class="col-12 col-md-6 mb-5">
            <div class="formgroup">
               <!-- Label -->
               <label>
                  Gender
                </label>

                <select class="form-control" formControlName="gender" data-toggle="select">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                  </select>
            </div>
           
          </div>
          <div class="col-12">
            
            <!-- Home address -->
            <div class="form-group">

              <!-- Label -->
              <label class="mb-1">
                Home address
              </label>

              <!-- Form text -->
              <small class="form-text text-muted">
                This contact will be shown to others publicly, so choose it carefully.
              </small>

              <!-- Input -->
              <input type="address" formControlName="address" class="form-control">

            </div>

          </div>
          <div class="col-12 col-md-6">
            
            <!-- Phone -->
            <div class="form-group">

              <!-- Label -->
              <label>
                Phone
              </label>

              <!-- Input -->
              <input type="text" formControlName="phone" class="form-control mb-3" placeholder="(___)___-____" data-mask="(000) 000-0000">

            </div>

          </div>
          <div class="col-12 col-md-6">
            
            <!-- Email -->
            <div class="form-group">

              <!-- Label -->
              <label>
                Email
              </label>

              <!-- Input -->
              <input type="text" formControlName="email" [value]="global.regDetails.email" class="form-control">

            </div>

          </div>
        </div> <!-- / .row -->

        <!-- Divider -->
        <hr class="mt-4 mb-5">

        <div class="row">
            <div [ngClass]="{'alert alert-success' : success, 'alert alert-danger': failure }" role="alert">
                <p>{{ message | titlecase }}</p>
              </div>
       
          <div class="col-12 col-md-6">

            <!-- Submit -->
            <button type="submit" class="btn btn-primary lift" [disabled]="!createProfileForm.valid">
              Create Profile
            </button>
            
          </div>
        </div> <!-- / .row -->

      </form>

    </div>
  </div> <!-- / .row -->
</div>

</div> <!-- / .main-content -->

