 <!-- NAVIGATION
    ================================================== -->
  <nav class="navbar navbar-expand-lg " id="topnav">
    <div class="container">

      <!-- Toggler -->
      <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Brand -->
      <a class="navbar-brand mr-auto" href="index.html">
        <img src="./assets/img/logo.svg" alt="..." class="navbar-brand-img">
      </a>

      <!-- User -->
      <div class="navbar-user">
  
        <!-- Dropdown -->
        <div class="dropdown mr-4 d-none d-lg-flex">
    
          <!-- Toggle -->
          <a href="#" class="navbar-user-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon active">
              <i class="fe fe-bell"></i>
            </span>
          </a>

          <!-- Menu -->
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
            
                  <!-- Title -->
                  <h5 class="card-header-title">
                    Notifications
                  </h5>

                </div>
                <div class="col-auto">
            
                  <!-- Link -->
                  <a href="#!" class="small">
                    View all
                  </a>

                </div>
              </div> <!-- / .row -->
            </div> <!-- / .card-header -->
            <div class="card-body">

              <!-- List group -->
              <div class="list-group list-group-flush my-n3">
                <a class="list-group-item text-reset px-0" href="#!">
          
                  <div class="row">
                    <div class="col-auto">
                
                      <!-- Avatar -->
                      <div class="avatar avatar-sm">
                        <img src="./assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>

                    </div>
                    <div class="col ml-n2">
                
                      <!-- Content -->
                      <div class="small">
                        <strong>Dianna Smiley</strong> shared your post with Ab Hadley, Adolfo Hess, and 3 others.
                      </div>

                      <!-- Time -->
                      <small class="text-muted">
                        2m ago
                      </small>

                    </div>
                  </div> <!-- / .row -->

                </a>
                <a class="list-group-item text-reset px-0" href="#!">

                  <div class="row">
                    <div class="col-auto">
                
                      <!-- Avatar -->
                      <div class="avatar avatar-sm">
                        <img src="./assets/img/avatars/profiles/avatar-2.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>

                    </div>
                    <div class="col ml-n2">
                
                      <!-- Content -->
                      <div class="small">
                        <strong>Ab Hadley</strong> reacted to your post with a 😍
                      </div>
                
                      <!-- Time -->
                      <small class="text-muted">
                        2m ago
                      </small>

                    </div>
                  </div> <!-- / .row -->

                </a>
                <a class="list-group-item text-reset px-0" href="#!">

                  <div class="row">
                    <div class="col-auto">
                
                      <!-- Avatar -->
                      <div class="avatar avatar-sm">
                        <img src="./assets/img/avatars/profiles/avatar-3.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>

                    </div>
                    <div class="col ml-n2">
                
                      <!-- Content -->
                      <div class="small">
                        <strong>Adolfo Hess</strong> commented <blockquote class="mb-0">“I don’t think this really makes sense to do without approval from Johnathan since he’s the one...” </blockquote>
                      </div>

                      <!-- Time -->
                      <small class="text-muted">
                        2m ago
                      </small>

                    </div>
                  </div> <!-- / .row -->

                </a>
                <a class="list-group-item text-reset px-0" href="#!">

                  <div class="row">
                    <div class="col-auto">
                
                      <!-- Avatar -->
                      <div class="avatar avatar-sm">
                        <img src="./assets/img/avatars/profiles/avatar-4.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>

                    </div>
                    <div class="col ml-n2">
                
                      <!-- Content -->
                      <div class="small">
                        <strong>Daniela Dewitt</strong> subscribed to you.
                      </div>

                      <!-- Time -->
                      <small class="text-muted">
                        2m ago
                      </small>

                    </div>
                  </div> <!-- / .row -->

                </a>
                <a class="list-group-item text-reset px-0" href="#!">

                  <div class="row">
                    <div class="col-auto">
                
                      <!-- Avatar -->
                      <div class="avatar avatar-sm">
                        <img src="./assets/img/avatars/profiles/avatar-5.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>

                    </div>
                    <div class="col ml-n2">
                
                      <!-- Content -->
                      <div class="small">
                        <strong>Miyah Myles</strong> shared your post with Ryu Duke, Glen Rouse, and 3 others.
                      </div>

                      <!-- Time -->
                      <small class="text-muted">
                        2m ago
                      </small>

                    </div>
                  </div> <!-- / .row -->

                </a>
                <a class="list-group-item text-reset px-0" href="#!">

                  <div class="row">
                    <div class="col-auto">
                
                      <!-- Avatar -->
                      <div class="avatar avatar-sm">
                        <img src="./assets/img/avatars/profiles/avatar-6.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>

                    </div>
                    <div class="col ml-n2">
                
                      <!-- Content -->
                      <div class="small">
                        <strong>Ryu Duke</strong> reacted to your post with a 😍
                      </div>

                      <!-- Time -->
                      <small class="text-muted">
                        2m ago
                      </small>

                    </div>
                  </div> <!-- / .row -->

                </a>
                <a class="list-group-item text-reset px-0" href="#!">

                  <div class="row">
                    <div class="col-auto">
                
                      <!-- Avatar -->
                      <div class="avatar avatar-sm">
                        <img src="./assets/img/avatars/profiles/avatar-7.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>

                    </div>
                    <div class="col ml-n2">
                
                      <!-- Content -->
                      <div class="small">
                        <strong>Glen Rouse</strong> commented <blockquote class="mb-0">“I don’t think this really makes sense to do without approval from Johnathan since he’s the one...” </blockquote>
                      </div>

                      <!-- Time -->
                      <small class="text-muted">
                        2m ago
                      </small>

                    </div>
                  </div> <!-- / .row -->

                </a>
                <a class="list-group-item text-reset px-0" href="#!">

                  <div class="row">
                    <div class="col-auto">
                
                      <!-- Avatar -->
                      <div class="avatar avatar-sm">
                        <img src="./assets/img/avatars/profiles/avatar-8.jpg" alt="..." class="avatar-img rounded-circle">
                      </div>

                    </div>
                    <div class="col ml-n2">
                
                      <!-- Content -->
                      <div class="small">
                        <strong>Grace Gross</strong> subscribed to you.
                      </div>

                      <!-- Time -->
                      <small class="text-muted">
                        2m ago
                      </small>

                    </div>
                  </div> <!-- / .row -->

                </a>
              </div>
        
            </div>
          </div> <!-- / .dropdown-menu -->

        </div>

        <!-- Dropdown -->
        <div class="dropdown">
    
          <!-- Toggle -->
          <a href="#" class="avatar avatar-sm avatar-online dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="./assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
          </a>

          <!-- Menu -->
          <div class="dropdown-menu dropdown-menu-right">
            <a [routerLink]="['/profile']" routerLinkActive="router-link-active" role="button" class="dropdown-item">Profile</a>
            <a class="dropdown-item">Settings</a>
            <hr class="dropdown-divider">
            <a (click)="global.logout()" role="button" class="dropdown-item">Logout</a>
          </div>

        </div>

      </div>

      <!-- Collapse -->
      <div class="collapse navbar-collapse mr-auto order-lg-first" id="navbar">


        <!-- Navigation -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active"  id="topnavDashboards" role="button" aria-haspopup="true" aria-expanded="false">
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/courses" role="button" routerLinkActive="active" class="nav-link" id="topnavPages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Courses
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/events" role="button" routerLinkActive="active" class="nav-link" id="topnavPages" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Events
            </a>
          </li>
        
        </ul>

      </div>

    </div> <!-- / .container -->
  </nav>


<!-- MAIN CONTENT
================================================== -->
<div class="main-content">
   

  <!-- HEADER -->
  <div class="header">

    <!-- Image -->
    <img src="assets/img/covers/profile-cover-1.jpg" class="header-img-top" alt="...">
    
    <div class="container-fluid">

      <!-- Body -->
      <div class="header-body mt-n5 mt-md-n6">
        <div class="row align-items-end">
          <div class="col-auto">
            
            <!-- Avatar -->
            <div class="avatar avatar-xxl header-avatar-top">
              <img src="assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle border border-4 border-body">
            </div>

          </div>
          <div class="col mb-3 ml-n3 ml-md-n2">
            
            <!-- Pretitle -->
            <h6 class="header-pretitle">
              {{ userData?.access | titlecase }}
            </h6>

            <!-- Title -->
            <h1 class="header-title">
              {{ userData?.firstname | titlecase }} {{ userData?.lastname | titlecase }}
            </h1>

          </div>
          <div class="col-12 col-md-auto mt-2 mt-md-0 mb-md-3">
             <!-- Button -->
             <a data-toggle="modal" data-target="#modalEditProfile" class="btn btn-primary d-block d-md-inline-block lift pointer text-white">
              Edit
            </a>

          </div>
        </div> <!-- / .row -->
        <div class="row align-items-center">
          <div class="col">
            
            <!-- Nav -->
            <ul class="nav nav-tabs nav-overflow header-tabs">
              <li class="nav-item">
                <a href="profile-posts.html" class="nav-link active">
                  Profile
                </a>
              </li>
            </ul>

          </div>
        </div>
      </div> <!-- / .header-body -->

    </div>
  </div>

  <!-- CONTENT -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-xl-2">

      </div>
      <div class="col-12 col-xl-8">
        
        <!-- Card -->
        <div class="card">
          <div class="card-body">
              <div class="row align-items-center">
                  <div class="col">
                    
                    <!-- Title -->
                    <h5 class="mb-0">
                      Username
                    </h5>
    
                  </div>
                  <div class="col-auto">
                    
                    <small class="text-muted">
                      {{ userData?.username }}
                    </small>
    
                  </div>
                </div> <!-- / .row -->
    
                  <!-- Divider -->
                  <hr>

            <div class="row align-items-center">
              <div class="col">
                
                <!-- Title -->
                <h5 class="mb-0">
                  First Name
                </h5>

              </div>
              <div class="col-auto">
                
                <small class="text-muted">
                  {{ userData?.firstname | titlecase }}
                </small>

              </div>
            </div> <!-- / .row -->

            <!-- Divider -->
            <hr>

            <div class="row align-items-center">
              <div class="col">
                
                <!-- Title -->
                <h5 class="mb-0">
                  Last Name
                </h5>

              </div>
              <div class="col-auto">
                
                <small class="text-muted">
                  {{ userData?.lastname | titlecase }}
                </small>

              </div>
            </div> <!-- / .row -->

              <!-- Divider -->
              <hr>

              <div class="row align-items-center">
                <div class="col">
                  
                  <!-- Title -->
                  <h5 class="mb-0">
                    Middle Name
                  </h5>
  
                </div>
                <div class="col-auto">
                  
                  <small class="text-muted">
                    {{ userData?.middlename | titlecase }}
                  </small>
  
                </div>
              </div> <!-- / .row -->
  
                <!-- Divider -->
                <hr>

            <div class="row align-items-center">
              <div class="col">
                
                <!-- Title -->
                <h5 class="mb-0">
                  Email
                </h5>

              </div>
              <div class="col-auto">
                
                <small class="text-muted">
                  {{ userData?.email | lowercase }}
                </small>

              </div>
            </div> <!-- / .row -->

              <!-- Divider -->
              <hr>
            
              <div class="row align-items-center">
                <div class="col">
                  
                  <!-- Title -->
                  <h5 class="mb-0">
                    Address
                  </h5>
  
                </div>
                <div class="col-auto">
                  
                  <small class="text-muted">
                    {{ userData?.address | titlecase }}
                  </small>
  
                </div>
              </div> <!-- / .row -->
  
                <!-- Divider -->
                <hr>

                <div class="row align-items-center">
                  <div class="col">
                    
                    <!-- Title -->
                    <h5 class="mb-0">
                      Mobile
                    </h5>
    
                  </div>
                  <div class="col-auto">
                    
                    <small class="text-muted">
                      {{ userData?.mobile }}
                    </small>
    
                  </div>
                </div> <!-- / .row -->
    
                  <!-- Divider -->
                  <hr>
                  <div class="row align-items-center">
                    <div class="col">
                      
                      <!-- Title -->
                      <h5 class="mb-0">
                        Gender
                      </h5>
      
                    </div>
                    <div class="col-auto">
                      
                      <small class="text-muted">
                        {{ userData?.sex }}
                      </small>
      
                    </div>
                  </div> <!-- / .row -->
          </div>
        </div>

      </div>
      <div class="col-12 col-xl-2">

        </div>
    </div> <!-- / .row -->
  </div>
</div> <!-- / .main-content -->


<!-- Modal: Members -->
<div class="modal fade" id="modalEditProfile" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-card card" data-toggle="lists" data-lists-values='["name"]'>
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">

              <!-- Title -->
              <h4 class="card-header-title" id="exampleModalCenterTitle">
                Edit Profile
              </h4>
          
            </div>
            <div class="col-auto">

              <!-- Close -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          
            </div>
          </div> <!-- / .row -->
        </div>
        <div class="card-body">
          <div class="align-items-center">
            <form [formGroup]= "editProfileForm" (ngSubmit)="onSubmit()" >

              <!-- First Name -->
              <div class="form-group">
  
                <!-- Label -->
                <label>First Name</label>
  
                <!-- Input -->
                <input type="text" class="form-control" [(ngModel)]="userData.firstname" [value]="userData?.firstname" formControlName="firstname" placeholder="First Name">
  
              </div>
  
              <!-- Last Name -->
              <div class="form-group">
  
                <!-- Label -->
                <label>Last Name</label>
  
                <!-- Input -->
                <input type="text" class="form-control" [(ngModel)]="userData.lastname" [value]="userData?.lastname" formControlName="lastname" placeholder="Last Name">
  
              </div>

                <!-- Middle Name -->
                <div class="form-group">
  
                  <!-- Label -->
                  <label>Middle Name</label>
    
                  <!-- Input -->
                  <input type="text" class="form-control" [(ngModel)]="userData.middlename" [value]="userData?.middlename" formControlName="middlename" placeholder="Middle Name">
    
                </div>

                <!-- Phone -->
                <div class="form-group">
  
                  <!-- Label -->
                  <label>Phone</label>
    
                  <!-- Input -->
                  <input type="text" class="form-control" [(ngModel)]="userData.mobile" [value]="userData?.mobile" formControlName="phone" placeholder="Phone">
    
                </div>

                <!-- Address -->
                <div class="form-group">
  
                  <!-- Label -->
                  <label>Address</label>
    
                  <!-- Input -->
                  <input type="text" class="form-control" [(ngModel)]="userData.address" [value]="userData?.address" formControlName="address" placeholder="Address">
    
                </div>

                <div [ngClass]="{'alert alert-success' : success, 'alert alert-danger': failure }" role="alert">
                  <p>{{ message | titlecase }}</p>
                </div>
  
              <!-- Submit -->
              <button class="btn btn-lg btn-block btn-primary mb-3" type="submit">
                Update
              </button>
  
            </form>
          </div> <!-- / .row -->

        </div>
      </div>
    </div>
  </div>
</div>

